<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataBaseConnection" value="Server=localhost;Port=5432;Database=BloomMiddleWare;User Id=postgres;Password=@Mojecmojec1" />

		<add key="BloomPortalDb" value="Server=localhost;Port=5432;Database=BloomBank;User Id=postgres;Password=@Mojecmojec1" />
		<add key="BloomUSSDDb" value="Server=localhost;Port=5432;Database=BloomUssd;User Id=postgres;Password=@Mojecmojec1" />
	</appSettings>
</configuration>