@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap">
    <link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" />
</head>
<body>
    @Body
</body>
</html>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


@code{
    
}