<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Serilog" type="Serilog.Settings.Configuration.SerilogConfigurationSection, Serilog.Settings.Configuration" />
	</configSections>
	<Serilog>
		<Using>
			<add name="Serilog.Sinks.Console" />
			<add name="Serilog.Sinks.File" />
		</Using>
		<MinimumLevel>Information</MinimumLevel>
		<WriteTo>
			<add Name="Console" />
			<add Name="File">
				<Args>
					<path value="logs/BloomTransferProcessor.txt" />
					<rollingInterval value="Day" />
				</Args>
			</add>
		</WriteTo>
		<Enrich>
			<add>FromLogContext</add>
			<add>WithMachineName</add>
			<add>WithThreadId</add>
		</Enrich>
		<Properties>
			<add key="Application" value="MyApp" />
		</Properties>
	</Serilog>
	<appSettings>
		<add key="RabbitMQHostName" value="localhost"/>
		<add key="RabbitMQUserName" value="guest" />
		<add key="RabbitMQPassword" value="guest" />
		<add key="logFilePath" value="logs/myapp-.txt" />
		<add key="DataBaseConnection" value="Server=localhost;Port=5432;Database=BloomMiddleWare;User Id=postgres;Password=@Mojecmojec1" />
		<add key="EmailAPIkey" value="2629ae92a2f805a109a4c8daeac34ff7" />
		<add key="EmailAPISecret" value="301a056c44ec5828b3d0f9ac7e50bac9" />
		<add key="EmailAPISender" value="bloomtechnology05@gmail.com" />
	</appSettings>
</configuration>